body {
    color: #2F4F4F;
    font-family: 'Righteous', cursive;
}

#imgGithub {
    width: 5em;
}

#campoMinado {
    margin: 3em;
    height: 35em;
}

.campoJogo {
    width: 90px !important;
    height: 90px !important;
    background-color: Gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.campoJogo:hover {
    background-color: grey;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

table {
    width: 50% !important;
    margin: auto;
}

tr {
    margin: 0;
}

.valorCampo {
    visibility: hidden;
}

#imgBomba {
    
}