body {
    color: #2F4F4F;
    font-family: 'Righteous', cursive;
}

#imgGithub {
    width: 5em;
}

#campoMinado {
    margin: 3em;
    height: 35em;
    display: flex;
    justify-content: center;
    align-items: center
}

.campoJogo {
    width: 90px !important;
    height: 90px !important;
    background-color: Gainsboro;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.campoJogo:hover {
    background-color: grey;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.campoJogo:active {
    transform: scale(0.90);
    transition: transform .3s;
  }

table {

}

tr {
    margin: 0;
}

.valorCampo {
    visibility: hidden;
}

.valorCampoVirado {
    color: forestgreen;
    font-size: 30px;
}
